Brendon Joe <bjoe322@aucklanduni.ac.nz>
Bruce Zeng <bzen965@aucklanduni.ac.nz>
Fuki Babasaki <fbab920@aucklanduni.ac.nz>
Fraser McCallum <fmcc091@aucklanduni.ac.nz> <fraser@themccallums.net.nz>
Fraser McCallum <fmcc091@aucklanduni.ac.nz> <fraser.themccallums@gmail.com>
James Coppard <jcop589@aucklanduni.ac.nz>
